@keyframes myfirst {
    0%   {background: red; top: 0; height: 100px; width: 100px;}
    18%  {background: blue; top: 504px;  height: 96px; width: 106px; animation-timing-function: ease-out}
    35%   {background: red; top: 150px; height: 100px; width: 100px; animation-timing-function: ease-in}
    53%  {background: blue; top: 502px;  height: 98px; width: 101px; animation-timing-function: ease-out}
    66%   {background: red; top: 400px; height: 100px; width: 100px; animation-timing-function: ease-in}
    86%  {background: blue; top: 502px;  height: 98px; width: 100px; animation-timing-function: ease-out}
    93%   {background: red; top: 480px; height: 100px; width: 100px; animation-timing-function: ease-in}
    100%  {background: blue; top: 500px;  height: 100px; width: 100px; animation-timing-function: ease}
}

@keyframes mysecond {
    0% {background: red; top: 0; animation-timing-function: ease-in}
    25% {background: blue;}
    50% {background: green; top: 500px; animation-timing-function: ease-out}
    75% {background: yellow;}
    100% {background: red; top: 0; animation-timing-function: ease-in}
}

@keyframes mythird {
    0% {background: red; top: 0; transform: rotate(0deg); animation-timing-function: linear}
    10% {background: blue;}
    20% {background: brown;}
    30% {background: orange;}
    40% {background: pink;}
    50% {background: green; top: 500px; transform: rotate(360deg); animation-timing-function: linear}
    60% {background: red;}
    70% {background: yellow;}
    80% {background: purple;}
    90% {background: blue;}
    100% {background: red; top: 0; transform: rotate(0deg); animation-timing-function: linear}
}

@keyframes myfourth {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:45px; top:150px;}
    50%  {background-color:blue; left:-45px; top:300px;}
    75%  {background-color:green; left: 45px; top:450px;}
    100% {background-color:red; left: 0px; top:580px;}
}